body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/**=================================================================**/
/**========================header================================**/

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}
.header-logo-black {
  color: #2e2f42;
}

.header-menu:focus {
  color: #404bbf;
}
.header-menu-list {
}

.header-menu-list:focus {
  color: #404bbf;
}

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact {
  margin-left: auto;
  font-style: normal;
}

.header-contact-menu {
}

.header-contact-menu::after {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contact-details {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px o;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-details:hover,
.header-contact-details:focus {
  color: #404bbf;
}

/**===============================================================**/
/**======================================main=====================**/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  text-align: center;
}

.container-hero {
}

.hero-title {
  color: #ffffff;
  text-align: center;
  /* Header 1 */
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
  display: block;
}

.button {
  padding: 356px 635px 188px 636px;
  min-width: 169px;
}
.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  /* Button Text */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
  min-width: 169px;
  height: 56px;
  box-sizing: content-box;
  padding: 16 32 16 32px;
  margin: 0 auto;
  border: none;
  max-width: 496px;
  border-radius: 4px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover:hover {
  background-color: #404bbf;
}
.hero-button:focus:focus {
  background-color: #404bbf;
}
/**=================================================================**/
/**=======================features==================================**/

.features {
  background: #fff;
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-box {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid;
  color: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.feature-icon-img {
  align-items: center;
  justify-content: center;
  fill: #2e2f42;
}

.feature-icon {
}

.feature-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-img-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.feature-subtitle::before {
}

.container-feature {
}
.feature-subtitle {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.feature-subtitle::before {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
}
.feature-item-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.features-link:hover {
  background-color: #404bbf;
}
.features-link:focus {
  background-color: #404bbf;
}

/**======================================================================**/
/**=========================team=======================================**/

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: #2e2f42;
  /* Header 2 */
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-title-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-title-name {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-person {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.soc-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.soc-icon-item {
  width: 40px;
  height: 40px;
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: color, background-color;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-item {
  display: flex;
  align-content: center;
  gap: 24px;
  margin-top: 24px;
}
/**=====================================================================**/
/**===============================portfolio============================**/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-department {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-cover-text {
  position: absolute;
  margin: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-title-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-title-list {
  transform: translateY(0);
}

.portfolio-substitute {
  color: #2e2f42;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/**===================================================================**/
/**===============================footer===============================**/
footer {
  background-color: #2e2f42;
  align-items: baseline;
  padding: 100px 0; /*156px*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  /* Body */
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
  flex-shrink: 0;
}

.footer-soc {
  display: flex;
  justify-items: center;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}

.soc-container {
}
.footer-soc-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-soc-icon {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-soc-icon-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon-img {
  fill: #f4f4fd;
}

.sub-container {
  display: flexbox;
  justify-items: center;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 16px;
}

.footer-sub-name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.sub-form {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.sub-email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.sub-email::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.03em;
}

.sub-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.sub-btn-img {
  margin-left: 16px;
}

/**=================================================================**/
/**==============================backdrop============================**/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: #fcfcfc; */
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* display: flex;
  align-items: center;
  justify-content: center;
} */

.modal {
  width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 300ms linear;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
  fill: #4d5ae5;
}

.modal-lable {
  display: block;
  margin-bottom: 4px;
  height: 18px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}
.modal-lable-comment {
}
.modal-icon {
  color: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
  color: #000000;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
}
.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-field-cbox {
  margin-bottom: 24px;
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-text span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.check-text a {
  color: #4d5ae5;
  text-decoration: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-sup-btn {
  display: block;
  justify-items: center;
  align-items: center;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
